/** @format */

.footer {
  background: linear-gradient(
    190deg,
    rgba(245, 153, 15, 0.5041725308287377) 0%,
    rgba(245, 153, 15, 1) 30%
  );
  padding: 20px 0;
  bottom: 0;
  width: 100vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 900px) {
    padding: 5px 0;
  }
  @media (max-width: 600px) {
    flex-direction: column-reverse;
  }
  ul {
    list-style: none;
    display: flex;
    width: 85%;
    padding: 0;
    margin-left: 5px;

    justify-content: flex-start;
    font-size: medium;
    @media (max-width: 900px) {
    }
    @media (max-width: 600px) {
      flex-direction: column;
      text-align: right;
      width: 75%;
      margin-right: 5px;
    }
    li {
      margin-left: 2em;
      color: white; 
      display: inline-block;
      font-size: larger;
      font-weight: 600;
      @media (max-width: 900px) {
        margin-left: 1em;
      }
      @media (max-width: 800px) {
        margin-left: 1em;
        
        font-size: medium;
      }
      @media (max-width: 600px) {
        text-align: right;
      }
    }
  }

  .img-container {
    display: flex;
    @media (max-width: 600px) {
      align-items: center;
      width: 50%;
      margin-right: 4em;
      align-self: end;
    }
    a {
      margin-right: 2em;
      @media (max-width: 900px) {
        
        padding: 1em;
        margin: auto;
      }
      @media (max-width: 600px) {
        text-align: center;
        width: 50%;
        margin: auto;
      }
    }
  }
}
