.historyItem {
  display: flex;
  justify-content: space-between;
  width: 100%;  
  padding: 5px 15px;
  border: 3px rgb(211, 211, 211) solid;
  align-items: center;
  span {
    margin-right: 10px;
  }
  .status {
    @media (max-width: 800px) {
      display: none;
    }
  }
  @media (max-width: 800px) {
    width: 85%;
    margin: auto;
  }
}
.priceAndCollapse{
  display: flex;
}
.historyItem:hover {
  background-color: rgba(220, 220, 220, 0.203);
  transition: 0.3s;
  cursor: pointer;
}

.historyCollapse {
  width: 100%;
  padding: 5px 15px;
  background-color: rgba(235, 235, 235, 0.582);
  @media (max-width: 800px) {
    width: 90%;
  }
  .collapseSale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    span {
      margin-right: 10px;
    }
  }
}

.ReactCollapse--collapse {
  transition: height 100ms;
}

.historyContainer {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  @media (max-width: 800px) {
    flex-direction: column-reverse;
    border-bottom: 1px solid black;
    margin: 30px auto;
  }
  .statusHistory{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    width: 240px;
    @media (min-width: 800px) {
      margin-left: 50px;
      
    }
    margin: 10px;
    .icon {
      margin-left: 10px;
    }
  }
}
