/** @format */

.noDataContainer {
    margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: centers;
  img {
    width: 200px;
    margin: auto;
  }
  h3 {
    text-align: center;
    color: #d4d4d4;
  }
}
