body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
header .navbar img {
  cursor: pointer;
  padding: 1em;
}
header .navbar nav {
  width: 50%;
  height: 100%;
}
header .navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
header .navbar nav ul li {
  display: inline-block;
  padding: 0.5em;
  height: 100%;
}
header .navbar nav ul li:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
header .navbar nav ul a {
  font-weight: 200;
  font-size: x-large;
  height: 100%;
}

main {
  margin-top: 11em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
main .main_header {
  display: flex;
  align-items: center;
  background: linear-gradient(15deg, #bccddb 70%, #f5990f);
}
main .main_header a {
  border-radius: 100px;
  padding: 10px;
  margin-left: 1.5em;
  transition: 0.4s;
}
main .main_header a i {
  font-size: x-large;
}
main .main_header a:hover {
  background-color: #9daebb;
  transition: 0.4s;
  padding: 20px;
}
main .main_header h1 {
  font-weight: 200;
  margin-left: 1em;
}
main .card-container {
  width: 80%;
  margin: 4em auto;
}
main .card-container .card {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
main .card-container .card img {
  padding-bottom: 2em;
  margin-bottom: 1em;
  left: 0;
}
main .card-container .card .text-container h2 {
  padding: 0.5em;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #bccddb;
}
main .card-container .card .text-container p {
  overflow-y: scroll;
  max-height: 200px;
}
main .card-container .card .text-container a {
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background-color: #f5990f;
  display: inline-block;
  border-radius: 100px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -20px;
}
main .card-container .card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  transform: translateY(-1px);
}

footer {
  background-color: #f5990f;
  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
footer ul {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-around;
  font-size: medium;
}
footer ul li {
  display: inline-block;
}
footer img {
  margin-right: 2em;
}

/* Scrollbar custom */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(215, 215, 215, 0.092);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.544);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.544);
}

/* Text selection color custom */
::-moz-selection {
  /* Code for Firefox */
  background: rgba(245, 153, 15, 0.4862745098);
}

::selection {
  background: rgba(245, 153, 15, 0.4862745098);
}

/*# sourceMappingURL=category.css.map */
