.banner_container {
  @media (max-width: 1000px) {
    width: 100%;
  }
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    position: relative;
    text-align: center;
    color: white;
    img {
      width: 100%;
      filter: opacity(0.9);
    }
    div {
      position: absolute;
      bottom: 4px;
      right: 0;
      padding: 2.5em;
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0),
        $transparent_orange
      );
      color: black;
      font-size: x-large;
      font-weight: 600;
      border-top-left-radius: 10px;
    }
    div:hover {
      transform:perspective(30deg );
      transition: 1s;
    }
  }
