.main {
    margin-top: 8em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
    .main_header {
      display: flex;
      align-items: center;
      background:linear-gradient(15deg, $gray 70%, $orange);
      h1 {
        font-weight: 200;
        margin-left: 1em;
      }
    }
    .card-container {
        
      margin: 4em 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
      
    }
  }
  