.footer {
  background-color: $orange;
  @media (max-width: 600px) {
    flex-direction: column-reverse;
    padding: 0;
  }

  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 1em 0;
  ul {
    list-style: none;
    display: flex;
    width: 60%;
    
    justify-content: space-around;
    font-size: medium;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    @media (max-width: 600px) {
      text-align: center;
    }
    li {
      display: inline-block;
    }
  }
  img {
    margin-right: 2em;
  }
}
