.form-container {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

form {
    background-color: $orange;
    padding: 4em 4em;
    border-radius: 10px;
    width: 40%;
    min-height: 400px;
}

input {
    padding: 15px;
    display: block;
    width: 60%;
    border-radius: 5px;
    margin: 1em auto;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;    
    border: 2px solid var(--input-border);
    
}

button {
    display: block;
    width: 40%;
    margin: auto;
    padding: 1em;
    background-color: $gray;
    border: 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

button:hover {
    background: $dark_gray;
    transition: 0.4s;
    
}

.link {
    text-align: center;
    display: block;
    width: 40%;
    margin: auto;
    text-decoration: underline;
}
