body {
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
/* 
header {
  height: 100vh;
} */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav {
  width: 50%;
  height: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

nav li {
  display: inline-block;
  padding: 0.5em;
  height: 100%;
}

nav li:hover {
  background-color: lightgray;
  transition: 0.4s;
}
ul a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: x-large;
}

.logo {
  cursor: pointer;
  padding: 1.5em;
}

.banner_container {
  top: 6em;
  position: relative;
  text-align: center;
  color: white;
}

.banner {
  width: 100%;
  filter: opacity(0.9);
}
.banner_text {
  position: absolute;
  bottom: 4px;
  right: 0;
  padding: 4em;
  background-color: rgba(179, 179, 179, 0.7);
  color: black;
  font-size: x-large;
  border-top-left-radius: 10px;
}

/* M A I N */

.main_header {
  background-color: #bccddb;
}

.main_header h1 {
  padding: 0.5em;
  font-weight: 200;
}

.card-container {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 360px;
  min-width: 260px;
  height: auto;
  padding: 2em;
  border-radius: 5px;
  margin: 1em;
  cursor: pointer;
}

.card:hover{ 
    transform: scale(1.1);
    transition: 0.4s;
}

.img-container {
  padding-bottom: 2em;
  margin-bottom: 1em;
}

.card img {
  max-width: 90%;
}

.text-container {
  width: auto;
  overflow: hidden;
  text-align: center;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.text-container {
  background-color: #bccddb;
}

/* Scrollbar custom */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(215, 215, 215, 0.092);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.544);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.544);
}
