body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
header .navbar img {
  cursor: pointer;
  padding: 1em;
}
header .navbar nav {
  width: 50%;
  height: 100%;
}
header .navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
header .navbar nav ul li {
  display: inline-block;
  padding: 0.5em;
  height: 100%;
}
header .navbar nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
header .navbar nav ul a {
  font-weight: 200;
  font-size: x-large;
  height: 100%;
}
header .banner_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  position: relative;
  text-align: center;
  color: white;
}
@media (min-width: 1200px) {
  header .banner_container {
    width: 75%;
  }
}
@media (max-width: 1200px) {
  header .banner_container {
    width: 90%;
  }
}
header .banner_container img {
  width: 100%;
  filter: opacity(0.9);
}
header .banner_container div {
  position: absolute;
  width: 65%;
  bottom: 4px;
  right: 0;
  padding: 2em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), #f5990f);
  color: white;
  font-size: x-large;
  font-weight: 600;
  border-top-left-radius: 10px;
}
header .banner_container div:hover {
  transform: perspective(30deg);
  transition: 1s;
}

main {
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  main {
    width: 75%;
  }
}
@media (max-width: 1200px) {
  main {
    width: 90%;
  }
}
main .main_header {
  display: flex;
  align-items: center;
  background: linear-gradient(15deg, #bccddb 70%, #f5990f);
}
main .main_header h1 {
  font-weight: 200;
  margin-left: 1em;
}
main .card-container {
  margin: 4em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .card-container .card {
  max-width: 240px;
  min-width: 200px;
  height: auto;
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
main .card-container .card img {
  padding-bottom: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
main .card-container .card .text-container h2 {
  padding: 1em;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #bccddb;
}
main .card-container .card .text-container p {
  overflow-y: scroll;
  max-height: 200px;
}
main .card-container .card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  transform: translateY(-1px);
}

footer {
  background-color: #f5990f;
  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
footer ul {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-around;
  font-size: medium;
}
footer ul li {
  display: inline-block;
}
footer img {
  margin-right: 2em;
}
footer img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* Scrollbar custom */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(215, 215, 215, 0.092);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.544);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.544);
}

/* Text selection color custom */
::-moz-selection {
  /* Code for Firefox */
  background: rgba(245, 153, 15, 0.4862745098);
}

::selection {
  background: rgba(245, 153, 15, 0.4862745098);
}

.underline_animated {
  position: relative;
}

.underline_animated::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: black;
  left: 50%;
  bottom: -5px;
  transition: all 0.2s ease-in-out;
}

.underline_animated:hover::after {
  width: 100%;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
