@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*Formularios(Registro, login, contacto)*/
.form-container {
  min-width: 900px;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 13em auto;
}
@media (max-width: 800px) {
  .form-container {
    flex-direction: column;
    height: initial;
    min-width: initial;
    box-shadow: none;
    width: 90vw;
    margin: 7em auto;
  }
}
.form-container .mt-5 {
  margin-top: 5px;
}
.form-container .radioSection {
  border: 5px rgb(211, 211, 211) solid;
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-container .radioSection .radioGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .form-container .radioSection .radioGroup input {
    margin: 5px;
  }
}
.form-container .radioSection .radioGroup .formInput {
  margin-top: 5px;
  width: 90%;
}
.form-container img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 800px) {
  .form-container img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
  }
}
.form-container form {
  padding: 20px;
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .form-container form {
    width: 100%;
    height: 50%;
    justify-content: center;
  }
}
.form-container form h1 {
  width: 100%;
  text-align: center;
}
.form-container form a,
.form-container form span,
.form-container form p {
  text-align: center;
}
.form-container form input[type=text],
.form-container form input[type=password],
.form-container form textarea {
  display: block;
  margin: 10px auto;
}
.form-container form label {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.form-container form label input[type=checkbox] {
  margin: 0 5px;
}

/*Boton formularios*/
.submit-button {
  margin: 10px auto;
  display: block;
  padding: 1em;
  background-color: #bccddb;
  border: 15px;
  border-radius: 6px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.submit-button:hover {
  background: #9ba6af;
  transition: 0.4s;
}

/*Componente input*/
.input-wrapper {
  position: relative;
  text-align: center;
}
.input-wrapper .input-wrapper__input {
  display: block;
  font-family: inherit;
}
.input-wrapper .input-wrapper__input:focus {
  outline: none;
}
.input-wrapper .input-wrapper__msg-error {
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  color: red;
}

/*Componente ShoppingCart*/
.shopping-cart-mobile {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2rem;
  color: #f5990f;
  padding: 25px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.637);
}

.shopping-cart-desktop {
  display: flex;
  align-items: center;
}
.shopping-cart-desktop span {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

/*Pantalla oscura*/
.shadow-close {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.589);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.displayNone {
  height: 0;
  transition: height 0.5s ease;
}

.footer {
  background: linear-gradient(190deg, rgba(245, 153, 15, 0.5041725308) 0%, rgb(245, 153, 15) 30%);
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    padding: 0;
  }
}
.footer ul {
  list-style: none;
  display: flex;
  width: 60%;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  font-size: medium;
}
@media (max-width: 900px) {
  .footer ul {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .footer ul {
    text-align: center;
  }
}
.footer ul li {
  color: white;
  display: inline-block;
  font-size: larger;
}
.footer .img-container a {
  margin-right: 2em;
}
@media (max-width: 600px) {
  .footer .img-container a {
    margin: auto;
    padding: 1em;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 11px 0;
  padding: 30px;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .card-container {
    margin: 50px 0;
  }
}
.card-container .card {
  max-width: 230px;
  min-width: 200px;
  height: auto;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px 10px 10px 10px;
}
@media screen and (max-width: 800px) {
  .card-container .card {
    margin: 10px 0 10px 0;
  }
}
.card-container .card img {
  padding-bottom: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.card-container .card .text-container h2 {
  padding: 1em;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #bccddb;
}
.card-container .card .text-container p {
  overflow-y: scroll;
  max-height: 200px;
}
.card-container .card:hover {
  transform: translateY(-6px);
}

.main {
  margin-top: 11em;
  min-height: 90vh;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
  }
}
.main .card-container {
  max-width: 900px;
  margin: 4em auto;
}
@media (max-width: 900px) {
  .main .card-container {
    width: 100%;
  }
}
.main .card-container .card {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main .card-container .card img {
  padding-bottom: 2em;
  margin-bottom: 1em;
  left: 0;
}
.main .card-container .card .text-container h2 {
  padding: 0.5em;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #bccddb;
}
.main .card-container .card .text-container p {
  overflow-y: scroll;
  max-height: 200px;
}
.main .card-container .card .text-container a {
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background-color: #f5990f;
  display: inline-block;
  border-radius: 100px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -20px;
}
.main .card-container .card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  transform: translateY(-1px);
}

.product-card {
  width: 900px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-card img {
  margin: 1.5em;
  left: 0;
}
.product-card .product-text-container {
  width: 100%;
}
.product-card .product-text-container h2 {
  padding: 0.5em;
  font-size: small;
  width: 100%;
  overflow: hidden;
  text-align: left;
  background-color: #bccddb;
}
.product-card .product-text-container p {
  overflow-y: hidden;
  max-height: 200px;
  font-size: small;
}
.product-card .product-text-container a {
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background-color: #f5990f;
  display: inline-block;
  border-radius: 100px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -20px;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  transform: translateY(-1px);
}

.header-store {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  z-index: 1;
  padding: 12px 0 2px 0;
}
.header-store .header-store__logo {
  width: 60vw;
  max-width: 300px;
  position: absolute;
  left: 20px;
}
.header-store .header-store__hamb {
  font-size: 2rem;
  color: #f5990f;
  right: 20px;
  position: absolute;
}
.header-store .header-store__search {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  width: 40vw;
  max-width: 400px;
}
@media (max-width: 1100px) {
  .header-store .header-store__search {
    display: none;
  }
}
.header-store .header-store__search div svg {
  position: absolute;
  left: 10px;
  color: #f5990f;
  font-size: 1.5rem;
}
.header-store .header-store__search div input {
  padding-left: 50px;
  border: 1px solid #f5990f;
  background-color: #f2f2f2;
  width: 200px;
}
.header-store .header-store__search ul {
  width: 200px;
}
.header-store .header-store__nav-desktop {
  position: absolute;
  right: 20px;
}
.header-store .header-store__nav-desktop > ul {
  display: flex;
  align-items: center;
}
.header-store .header-store__nav-desktop > ul a {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  font-size: 1.4rem;
}
.header-store .header-store__nav-desktop > ul a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #f5990f;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.5s;
}
.header-store .header-store__nav-desktop > ul a:hover::after {
  width: 100%;
}
.header-store .header-store__nav-desktop > ul svg {
  font-size: 2rem;
  color: #f5990f;
  cursor: pointer;
  margin-right: 20px;
  transition: color 0.5s;
}
.header-store .header-store__nav-desktop > ul svg:hover {
  color: rgba(245, 153, 15, 0.4862745098);
}

.nav-mobile-store {
  background-color: #f2f2f2;
  width: 60vw;
  max-width: 280px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.23) inset;
  -webkit-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.23) inset;
  -moz-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.23) inset;
  animation: openMenu 0.3s ease-in;
}
.nav-mobile-store strong {
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 20px;
  color: #f5990f;
  font-weight: normal;
}
.nav-mobile-store ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.nav-mobile-store ul li {
  margin-bottom: 50px;
  margin-right: 20px;
  font-size: 1.6rem;
  font-weight: lighter;
}
.nav-mobile-store img {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 60vw;
  max-width: 200px;
}

.close-menu {
  animation: closeMenu 0.3s ease-out;
  right: -60vw;
}

@keyframes openMenu {
  from {
    right: -60vw;
  }
  to {
    right: 0;
  }
}
@keyframes closeMenu {
  from {
    right: 0;
  }
  to {
    right: -60vw;
  }
}
.paginationContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.paginationBtn {
  display: block;
  margin: 2px;
  padding: 1em;
  background-color: #bccddb;
  border: 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.paginationBtn:hover {
  background: #9ba6af;
  transition: 0.1s;
}

.loading {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.loading span {
  color: #f5990f;
  font-size: 2rem;
  margin-bottom: 20px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.home-page .home-page__banner {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/img/Banner.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .home-page .home-page__banner {
    justify-content: center;
    background-position: -150px 0px;
  }
}
.home-page .home-page__banner .home-page__banner__info {
  text-align: right;
  border-radius: 20px;
  color: #fff;
  padding: 20px 20px;
}
@media (max-width: 1200px) {
  .home-page .home-page__banner .home-page__banner__info {
    margin-right: 0;
    width: 100%;
    border-radius: 0;
    position: initial;
    right: initial;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
  }
}
.home-page .home-page__banner .home-page__banner__info h1 {
  color: #fff;
}
.home-page .home-page__banner .home-page__banner__info p {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.589);
  padding: 5px;
}
@media (max-width: 1200px) {
  .home-page .home-page__banner .home-page__banner__info p {
    background-color: initial;
  }
}
.home-page .home-page__banner .home-page__banner__info button {
  padding: 10px 100px;
  border: none;
  font-size: 1.2rem;
  background-color: #f5990f;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background 0.5s;
}
.home-page .home-page__banner .home-page__banner__info button:hover {
  background-color: rgba(245, 153, 15, 0.7607843137);
}
.home-page .home-page__banner .home-page__banner__contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
}
.home-page .home-page__banner .home-page__banner__contact strong {
  margin-bottom: 15px;
  font-size: 1.7rem;
  font-weight: normal;
}
.home-page .home-page__banner .home-page__banner__contact div {
  display: flex;
}
.home-page .home-page__banner .home-page__banner__contact div img {
  width: 40px;
  margin-right: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}
.home-page .home-page__banner .home-page__banner__contact div img:hover {
  transform: scale(1.3);
}
.home-page .home-page__banner .home-page__banner__contact div :last-child {
  margin-right: 0;
}
.home-page .home-page__title {
  background: linear-gradient(15deg, #bccddb 70%, #f5990f);
  font-weight: 200;
  padding: 30px 0;
  margin-top: 70px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .home-page .home-page__title {
    margin-top: 50px;
  }
}

.user-panel-page {
  padding: 30px 0;
  display: flex;
}
@media (max-width: 800px) {
  .user-panel-page {
    flex-direction: column;
    padding: 0;
  }
}
.user-panel-page aside {
  padding: 60px;
  width: 20%;
  border-right: 1px solid #f5990f;
  text-align: center;
}
@media (max-width: 800px) {
  .user-panel-page aside {
    width: 100%;
    padding: 0;
    border-right: none;
  }
}
.user-panel-page aside h1 {
  color: #f5990f;
  margin: 30px 0;
}
.user-panel-page aside ul li {
  margin-bottom: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}
.user-panel-page aside ul :last-child {
  color: red;
  font-weight: bold;
}
.user-panel-page section {
  padding: 30px;
  width: 80%;
}
@media (max-width: 800px) {
  .user-panel-page section {
    width: 100%;
    padding: 0;
  }
}
.user-panel-page section form {
  width: 90vw;
  max-width: 350px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .user-panel-page section form {
    margin: 20px 0;
    margin: 0 auto;
  }
}
.user-panel-page section form span {
  margin: 5px 0 15px 0;
  color: rgba(0, 0, 0, 0.421);
}
.user-panel-page section form h2 {
  text-align: center;
}
.user-panel-page section form div {
  display: flex;
  flex-direction: column;
}
.user-panel-page section form div input {
  margin-bottom: 10px;
}
.user-panel-page section form div label {
  margin-bottom: 8px;
}

.productContainer {
  margin: 20vh auto auto auto;
  min-height: 80vh;
  max-width: 800px;
}
.productContainer .productPage {
  margin-bottom: 2em;
  display: flex;
}
@media screen and (max-width: 800px) {
  .productContainer .productPage {
    flex-direction: column;
    align-items: center;
  }
}
.productContainer .productPage .productPage__img {
  margin-top: 4em;
  width: 40%;
}
.productContainer .productPage .productPage__img img {
  margin: auto;
  display: block;
}
@media screen and (max-width: 800px) {
  .productContainer .productPage .productPage__img {
    width: 100%;
  }
}
.productContainer .productPage .productPage__description {
  margin: auto 1em;
  width: 60%;
}
@media screen and (max-width: 800px) {
  .productContainer .productPage .productPage__description {
    width: 100%;
  }
}
.productContainer .productPage .productPage__description .productPage__description__body {
  margin-left: 15px;
}
.productContainer .productPage .productPage__description .productPage__description__buttons {
  display: flex;
  flex-direction: column;
}
.productContainer .productPage .productPage__description .productPage__description__buttons .select {
  margin: 5px;
  width: 45%;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .productContainer .productPage .productPage__description .productPage__description__buttons .select {
    width: 55%;
    margin: 10px auto;
    display: block;
  }
}
.productContainer .productPage .productPage__description .productPage__description__buttons button {
  border: none;
  padding: 8px;
  cursor: pointer;
  display: block;
  width: 50%;
  margin: 5px auto;
}
.productContainer .productPage .productPage__description .productPage__description__buttons .buyBtn {
  background-color: #f5990f;
}
.productContainer .productPage .productPage__description .productPage__description__buttons .addBtn {
  background-color: #bccddb;
}
.productContainer .productPage .productPage__description .productPage__description__buttons p {
  text-align: center;
}

.main_header {
  display: flex;
  align-items: center;
  background: linear-gradient(15deg, #bccddb 70%, #f5990f);
}
.main_header a {
  border-radius: 100px;
  padding: 10px;
  margin-left: 1.5em;
  transition: 0.4s;
}
.main_header a i {
  font-size: x-large;
}
.main_header a:hover {
  background-color: #9daebb;
  transition: 0.4s;
  padding: 20px;
}
.main_header h1 {
  font-weight: 200;
  margin-left: 1em;
}

.container_section {
  width: 100%;
  min-height: 100vh;
}

.opacity {
  opacity: 0.5;
}

.fetching-data-message {
  font-size: 1.5rem;
}

.warning-message {
  color: rgb(209, 32, 32);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.successfully-message {
  color: green;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.input-form {
  border: 1px solid #f5990f;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
}

.textarea-form {
  padding: 4px 0;
  border-radius: 5px;
  border: 1px solid #f5990f;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
}
.textarea-form:focus {
  outline: none;
}

.select-form {
  padding: 4px 0;
  border-radius: 5px;
  border: 1px solid #f5990f;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
}
.select-form:focus {
  outline: none;
}

.button-form {
  font-weight: bold;
  background-color: #f5990f;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 0;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #f5990f;
  cursor: pointer;
  transition: 0.5s;
}
.button-form:hover {
  background-color: transparent;
  border: 1px solid #f5990f;
  color: black;
}

.label-form {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.table-template {
  border-radius: 5px;
  position: relative;
}
.table-template th,
.table-template td {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 8px;
  font-weight: bold;
  text-align: center;
}
.table-template th {
  color: #f5990f;
  font-size: 1.1rem;
}
.table-template .controls-table {
  color: #f5990f;
  font-size: 1.3rem;
  cursor: pointer;
}

.row-selectable {
  cursor: pointer;
  transition: 0.3s;
}
.row-selectable:hover {
  transform: scale(0.98);
}

.row-header-child {
  position: relative;
}
.row-header-child th {
  font-size: 1rem;
  padding: 3px 0;
  background-color: transparent;
  border-radius: 0;
}

.row-child {
  position: relative;
}
.row-child td {
  font-size: 0.9rem;
  background-color: transparent;
}

.select {
  margin: 5px auto;
  min-width: 200px;
  max-width: 300px;
}
@media screen and (max-width: 800px) {
  .select {
    width: 55%;
    margin: 10px auto;
    display: block;
  }
}

.controls-row-child {
  font-size: 1.2rem !important;
  transition: 0.3s;
  padding: 0;
  width: 50px;
  cursor: pointer;
}
.controls-row-child:hover {
  color: #333333;
}

.flex-column-center-xy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generals-layout h2 {
  text-align: center;
}
.generals-layout form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 50vw;
  margin-bottom: 50px;
}
.generals-layout form input {
  margin-bottom: 25px;
}
.generals-layout form span {
  margin-top: 20px;
}
.generals-layout table {
  width: 50vw;
  max-width: 800px;
}

.generals-layout-edit form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 50vw;
  margin-bottom: 50px;
}
.generals-layout-edit form h2 {
  text-align: center;
}
.generals-layout-edit form input {
  margin-bottom: 25px;
}
.generals-layout-edit form span {
  margin-top: 20px;
}

.form-row-two-columns-with-label {
  display: flex;
  margin: 20px 0;
  width: 100%;
}
.form-row-two-columns-with-label div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15px;
}

.cartContainer {
  margin: 20vh auto auto auto;
  min-height: 80vh;
  max-width: 900px;
}
.cartContainer .cartPage {
  min-height: 100vh;
}
.cartContainer .cartPage .cartItem {
  max-width: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px auto 5px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 600px) {
  .cartContainer .cartPage .cartItem {
    flex-direction: column;
    padding: auto 20px;
    margin: 10px auto;
  }
}
.cartContainer .cartPage .cartItem .cartItem__img {
  margin: 10px;
  left: 0;
}
.cartContainer .cartPage .cartItem .cartItem__text {
  display: flex;
  margin: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .cartContainer .cartPage .cartItem .cartItem__text {
    justify-content: space-around;
  }
}
.cartContainer .cartPage .cartItem .cartItem__text button {
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #f5990f;
}
@media screen and (max-width: 600px) {
  .cartContainer .cartPage .cartItem .cartItem__text button {
    margin-top: 10px;
  }
}
.cartContainer .cartPage .cartItem .cartItem__text button:hover {
  background-color: #e18e11;
  transition: 0.3s;
}
.cartContainer .cartPage .cartItem .cartItem__text .total {
  font-weight: bold;
}
.cartContainer .cartPage .cartItem .CartItem__actions {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .cartContainer .cartPage .cartItem .CartItem__actions {
    margin-bottom: 10px;
  }
}
.cartContainer .cartPage .cartItem .CartItem__actions .CartItem__actionsQuantity {
  margin: 0 2px 0 2px;
  width: 50px;
}
.cartContainer .cartBuyForm {
  min-height: 80vh;
  display: flex;
}
.cartContainer .cartBuyForm form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.historyItem {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 5px 15px;
  border: 3px rgb(211, 211, 211) solid;
  align-items: center;
}
.historyItem span {
  margin-right: 10px;
}
@media (max-width: 800px) {
  .historyItem {
    width: 100%;
  }
}

.historyItem:hover {
  background-color: rgba(220, 220, 220, 0.203);
  transition: 0.3s;
  cursor: pointer;
}

.historyCollapse {
  width: 600px;
  padding: 5px 15px;
  background-color: rgba(235, 235, 235, 0.582);
}
@media (max-width: 800px) {
  .historyCollapse {
    width: 100%;
  }
}
.historyCollapse .collapseSale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
.historyCollapse .collapseSale span {
  margin-right: 10px;
}

.ReactCollapse--collapse {
  transition: height 100ms;
}

.login-page-adm {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-page-adm form {
  border: 1px solid #f5990f;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 80px;
  display: flex;
  flex-direction: column;
}
.login-page-adm form img {
  width: 200px;
}
.login-page-adm form input {
  margin-bottom: 15px;
}
.login-page-adm form button {
  padding: 5px 0;
}

.header-admin {
  display: flex;
  height: 60px;
  width: 100vw;
  padding: 10px 0;
  background-color: #f5990f;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header-admin .header-admin_config {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}
.header-admin .header-admin_config > svg {
  font-size: 2rem;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.header-admin .header-admin_config > svg:hover {
  color: #5f5f5f;
}
.header-admin .header-admin_config > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-admin .header-admin_config > div span {
  margin-bottom: 3px;
}

.container-admin {
  display: flex;
}
.container-admin aside {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
  padding: 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 250px;
}
.container-admin aside > img {
  position: absolute;
  top: 20px;
  width: 180px;
}
.container-admin aside .aside_menu_item {
  margin-bottom: 50px;
}
.container-admin aside .aside_menu_item .aside_menu_item_container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.container-admin aside .aside_menu_item .aside_menu_item_container:hover {
  color: #f5990f;
}
.container-admin aside .aside_menu_item .aside_menu_item_container .aside_menu_item_container_icon {
  color: #f5990f;
  margin-right: 15px;
}
.container-admin aside .aside_menu_item .aside_menu_item_container .aside_menu_item_container_icon2 {
  margin-left: 30px;
  font-size: 0.5rem;
}
.container-admin aside .aside_menu_item .aside_menu_item_container span {
  font-size: 1.5rem;
}
.container-admin aside .aside_menu_item ul {
  padding-left: 15px;
}
.container-admin aside .aside_menu_item ul li {
  margin-bottom: 15px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}
.container-admin aside .aside_menu_item ul li:hover {
  color: #f5990f;
}
.container-admin > section {
  margin-top: 80px;
}

.selected {
  color: #f5990f;
}

.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-user form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 50px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50vw;
  max-width: 550px;
}
.create-user form > h1 {
  margin: 0 0 40px 0;
  color: #f5990f;
}
.create-user form button {
  margin-top: 20px;
  width: 100%;
}
.create-user form > span {
  margin-top: 20px;
}

.list-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-users > h1 {
  color: #f5990f;
}
.list-users table {
  width: 50vw;
  max-width: 700px;
}

.create-product {
  padding: 0 50px;
}
.create-product .create-product_container {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
}
.create-product .create-product_container form {
  margin: 0 auto;
}
.create-product .create-product_container form hr {
  width: 100%;
  margin-bottom: 20px;
}
.create-product .create-product_container form .create-product_container_form-product_lines {
  position: relative;
}
.create-product .create-product_container form .create-product_container_form-product_lines > svg {
  right: -25px;
  top: 23px;
}
.create-product .create-product_container form .create-product_container_form-product_lines .create-product_container_form-product_lines_row3 {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.create-product .create-product_container form .create-product_container_form-product_lines .create-product_container_form-product_lines_row3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}
.create-product .create-product_container form .create-product_container_form-product_lines .create-product_container_form-product_lines_row3 > svg {
  right: -20px;
  top: 23px;
  position: absolute;
}
.create-product .create-product_container form .create-product_container_form-product_lines > :last-child {
  margin-bottom: 0;
}
.create-product .create-product_container form .create-product_container_form-product_txtarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}
.create-product .create-product_container form .create-product_container_form-product_txtarea textarea {
  width: 100%;
  height: 150px;
}
.create-product .create-product_container form .input-img-container {
  margin: 0 0 25px 0;
}
.create-product .create-product_container form button {
  padding: 10px 50px;
}

.switch-form {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: min-content;
  align-self: flex-start;
}
.switch-form > li {
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
.switch-form .product {
  background-color: #f5990f;
}
.switch-form .product:hover {
  background-color: #b06d07;
}
.switch-form .promo {
  background-color: #121212;
}
.switch-form .promo:hover {
  background-color: #383838;
}

.title-promo-product {
  margin-top: 50px;
  text-align: center;
}

.text-promo-product {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.4rem;
}

.add-lines {
  font-size: 2rem;
  cursor: pointer;
  color: #f5990f;
  transition: 0.5s;
  position: absolute;
}
.add-lines:hover {
  color: #985e06;
}

.remove-lines {
  color: red;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
}

.create-promo {
  padding: 0 50px;
}
.create-promo > div {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
}
.create-promo form {
  margin: 0 auto;
}
.create-promo form .promo-models-container {
  position: relative;
  width: 100%;
}
.create-promo form .promo-models-container > svg {
  position: absolute;
  right: -30px;
  top: 45px;
}
.create-promo form .promo-models-container > div {
  position: relative;
}
.create-promo form .promo-models-container > div svg {
  right: -23px;
  top: 25px;
}
.create-promo form .txtarea-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
}
.create-promo form .txtarea-container textarea {
  height: inherit;
}
.create-promo form button {
  position: relative;
  margin: 30px auto;
  padding: 10px 50px;
}

.list-products h1 {
  text-align: center;
  margin: 50px 0;
}
.list-products table {
  margin: auto;
}
.list-products .table-container {
  text-align: center;
  margin-bottom: 50px;
}

.edit-model form {
  width: 50vw;
  max-width: 350px;
}
.edit-model form h2 {
  text-align: center;
}
.edit-model form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.edit-model form label {
  font-weight: bold;
  margin-bottom: 3px;
}
.edit-model form input, .edit-model form select {
  margin-bottom: 20px;
}
.edit-model form button {
  width: 100%;
}
.edit-model form span {
  margin-top: 20px;
}

.supplier form > div {
  display: flex;
  flex-direction: column;
}
.supplier form > div label {
  font-weight: bold;
  margin-bottom: 3px;
}

.buy-products h2 {
  margin: 30px 0;
}
.buy-products form {
  width: 50vw;
  max-width: 600px;
}
.buy-products form label {
  font-weight: bold;
}
.buy-products form .supplier-line {
  margin-bottom: 20px;
}
.buy-products form .supplier-line label {
  margin-right: 10px;
}
.buy-products form .buy-product-line {
  position: relative;
}
.buy-products form .buy-product-line .add-line-buy-product {
  position: absolute;
  right: -20px;
  top: 45px;
  font-size: 1.8rem;
  color: #f5990f;
  cursor: pointer;
  transition: 0.3s;
}
.buy-products form .buy-product-line .add-line-buy-product:hover {
  color: #985e06;
}
.buy-products form .buy-product-line .buy-product-line_item {
  display: flex;
  position: relative;
  margin: 20px 0;
}
.buy-products form .buy-product-line .buy-product-line_item > select, .buy-products form .buy-product-line .buy-product-line_item input {
  width: auto;
}
.buy-products form .buy-product-line .buy-product-line_item .remove-line-buy-product {
  position: absolute;
  right: -15px;
  font-size: 1.8rem;
  top: 26px;
  color: red;
  cursor: pointer;
  transition: 0.3s;
}
.buy-products form .buy-product-line .buy-product-line_item .remove-line-buy-product:hover {
  color: #990000;
}
.buy-products form .buy-product-line .buy-product-line_item > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
.buy-products form .txtarea-buy-product {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.buy-products form .txtarea-buy-product label {
  margin-bottom: 5px;
}
.buy-products form .txtarea-buy-product textarea {
  height: 150px;
}
.buy-products form button {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.main-client {
  margin-top: 10vh;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  border: 2px #9ba6af solid;
  border-radius: 3px;
  padding: 5px;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(215, 215, 215, 0.092);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.544);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.544);
}

::-moz-selection {
  background: rgba(245, 153, 15, 0.4862745098);
}

::selection {
  background: rgba(245, 153, 15, 0.4862745098);
}

.underline_animated {
  position: relative;
}

.underline_animated::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: black;
  left: 50%;
  bottom: -5px;
  transition: all 0.1s ease-in-out;
}

.underline_animated:hover::after {
  width: 100%;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
