/*Formularios(Registro, login, contacto)*/
.form-container {
  width: 70vw;
  min-width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 15em auto;
}
@media (max-width: 800px) {
  .form-container {
    flex-direction: column;
    height: initial;
    min-width: initial;
    box-shadow: none;
    width: 90vw;
    margin: 7em auto;
  }
}
.form-container img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 800px) {
  .form-container img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
  }
}
.form-container form {
  padding: 20px;
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .form-container form {
    width: 100%;
    height: 50%;
    justify-content: center;
  }
}
.form-container form h1 {
  width: 100%;
  text-align: center;
}
.form-container form a {
  text-align: center;
}
.form-container form input,
.form-container form textarea {
  display: block;
  margin: 10px auto;
}

/*Boton formularios*/
.submit-button {
  margin: 10px auto;
  display: block;
  padding: 1em;
  background-color: #bccddb;
  border: 15px;
  border-radius: 6px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.submit-button:hover {
  background: #9ba6af;
  transition: 0.4s;
}

/*Componente input*/
.input-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.input-wrapper .input-wrapper__input {
  display: block;
  font-family: inherit;
}
.input-wrapper .input-wrapper__input:focus {
  outline: none;
}
.input-wrapper .input-wrapper__msg-error {
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  color: red;
}

/*Componente user menu*/
.user-menu {
  position: relative;
}
.user-menu div {
  margin-top: 10px;
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-menu div strong {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.user-menu div ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-menu div ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.user-menu div ul li span {
  margin-right: 10px;
}

/*Componente ShoppingCart*/
.shopping-cart-mobile {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2rem;
  color: #f5990f;
  padding: 25px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.637);
}

.shopping-cart-desktop {
  display: flex;
  align-items: center;
}
.shopping-cart-desktop span {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

/*Pantalla oscura*/
.shadow-close {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.589);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.footer {
  background-color: #f5990f;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    padding: 0;
  }
}
.footer ul {
  list-style: none;
  display: flex;
  width: 60%;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  font-size: medium;
}
@media (max-width: 900px) {
  .footer ul {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .footer ul {
    text-align: center;
  }
}
.footer ul li {
  display: inline-block;
}
.footer .img-container img {
  margin-right: 2em;
}
@media (max-width: 600px) {
  .footer .img-container img {
    margin: auto;
    padding: 1em;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
  padding: 30px;
}
@media screen and (max-width: 800px) {
  .card-container {
    margin: 50px 0;
  }
}
.card-container .card {
  max-width: 280px;
  min-width: 200px;
  height: auto;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px 50px 10px 0;
}
@media screen and (max-width: 800px) {
  .card-container .card {
    margin: 10px 0 10px 0;
  }
}
.card-container .card img {
  padding-bottom: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.card-container .card .text-container h2 {
  padding: 1em;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #bccddb;
}
.card-container .card .text-container p {
  overflow-y: scroll;
  max-height: 200px;
}
.card-container .card:hover {
  transform: translateY(-6px);
}

.main {
  margin-top: 11em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
  }
}
.main .main_header {
  display: flex;
  align-items: center;
  background: linear-gradient(15deg, #bccddb 70%, #f5990f);
}
.main .main_header a {
  border-radius: 100px;
  padding: 10px;
  margin-left: 1.5em;
  transition: 0.4s;
}
.main .main_header a i {
  font-size: x-large;
}
.main .main_header a:hover {
  background-color: #9daebb;
  transition: 0.4s;
  padding: 20px;
}
.main .main_header h1 {
  font-weight: 200;
  margin-left: 1em;
}
.main .card-container {
  width: 80%;
  margin: 4em auto;
}
@media (max-width: 900px) {
  .main .card-container {
    width: 100%;
  }
}
.main .card-container .card {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main .card-container .card img {
  padding-bottom: 2em;
  margin-bottom: 1em;
  left: 0;
}
.main .card-container .card .text-container h2 {
  padding: 0.5em;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #bccddb;
}
.main .card-container .card .text-container p {
  overflow-y: scroll;
  max-height: 200px;
}
.main .card-container .card .text-container a {
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background-color: #f5990f;
  display: inline-block;
  border-radius: 100px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -20px;
}
.main .card-container .card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  transform: translateY(-1px);
}

.product-card {
  max-width: 1100px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-card img {
  padding-bottom: 2em;
  margin-bottom: 1em;
  left: 0;
}
.product-card .product-text-container h2 {
  padding: 0.5em;
  width: auto;
  overflow: hidden;
  text-align: center;
  background-color: #bccddb;
}
.product-card .product-text-container p {
  overflow-y: scroll;
  max-height: 200px;
}
.product-card .product-text-container a {
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background-color: #f5990f;
  display: inline-block;
  border-radius: 100px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -20px;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  transform: translateY(-1px);
}

.header-store {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  z-index: 1;
  padding: 4px 0 2px 0;
}
.header-store .header-store__logo {
  width: 60vw;
  max-width: 300px;
  position: absolute;
  left: 20px;
}
.header-store .header-store__hamb {
  font-size: 2rem;
  color: #f5990f;
  right: 20px;
  position: absolute;
}
.header-store .header-store__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 40vw;
  max-width: 400px;
}
@media (max-width: 1200px) {
  .header-store .header-store__search {
    display: none;
  }
}
.header-store .header-store__search svg {
  position: absolute;
  left: 10px;
  color: #f5990f;
  font-size: 1.5rem;
}
.header-store .header-store__search input {
  width: inherit;
  padding-left: 50px;
  border: 1px solid #f5990f;
  background-color: #f2f2f2;
}
.header-store .header-store__nav-desktop {
  position: absolute;
  right: 20px;
}
.header-store .header-store__nav-desktop > ul {
  display: flex;
  align-items: center;
}
.header-store .header-store__nav-desktop > ul a {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  font-size: 1.4rem;
}
.header-store .header-store__nav-desktop > ul a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #f5990f;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.5s;
}
.header-store .header-store__nav-desktop > ul a:hover::after {
  width: 100%;
}
.header-store .header-store__nav-desktop > ul svg {
  font-size: 2rem;
  color: #f5990f;
  cursor: pointer;
  margin-right: 20px;
  transition: color 0.5s;
}
.header-store .header-store__nav-desktop > ul svg:hover {
  color: rgba(245, 153, 15, 0.4862745098);
}

.nav-mobile-store {
  background-color: #f2f2f2;
  width: 60vw;
  max-width: 280px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.23) inset;
  -webkit-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.23) inset;
  -moz-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.23) inset;
  animation: openMenu 0.5s ease-in;
}
.nav-mobile-store strong {
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 20px;
  color: #f5990f;
  font-weight: normal;
}
.nav-mobile-store ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.nav-mobile-store ul li {
  margin-bottom: 50px;
  margin-right: 20px;
  font-size: 1.6rem;
  font-weight: lighter;
}
.nav-mobile-store img {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 60vw;
  max-width: 200px;
}

.close-menu {
  animation: closeMenu 0.5s ease-out;
  right: -60vw;
}

@keyframes openMenu {
  from {
    right: -60vw;
  }
  to {
    right: 0;
  }
}
@keyframes closeMenu {
  from {
    right: 0;
  }
  to {
    right: -60vw;
  }
}
.paginationContainer {
  display: flex;
}

.paginationBtn {
  display: block;
  margin: 2px;
  padding: 1em;
  background-color: #bccddb;
  border: 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.paginationBtn:hover {
  background: #9ba6af;
  transition: 0.1s;
}

.loading {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.loading span {
  color: #f5990f;
  font-size: 2rem;
  margin-bottom: 20px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.home-page .home-page__banner {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/img/Banner.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .home-page .home-page__banner {
    justify-content: center;
    background-position: -150px 0px;
  }
}
.home-page .home-page__banner .home-page__banner__info {
  position: absolute;
  right: 250px;
  text-align: right;
  border-radius: 20px;
  padding: 30px 20px;
}
@media (max-width: 1200px) {
  .home-page .home-page__banner .home-page__banner__info {
    margin-right: 0;
    width: 100%;
    border-radius: 0;
    position: initial;
    right: initial;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
  }
}
.home-page .home-page__banner .home-page__banner__info h1 {
  color: #fff;
}
.home-page .home-page__banner .home-page__banner__info p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.589);
  padding: 5px;
}
@media (max-width: 1200px) {
  .home-page .home-page__banner .home-page__banner__info p {
    background-color: initial;
  }
}
.home-page .home-page__banner .home-page__banner__info button {
  padding: 10px 100px;
  border: none;
  font-size: 1.2rem;
  background-color: #f5990f;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background 0.5s;
}
.home-page .home-page__banner .home-page__banner__info button:hover {
  background-color: rgba(245, 153, 15, 0.7607843137);
}
.home-page .home-page__banner .home-page__banner__contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
}
.home-page .home-page__banner .home-page__banner__contact strong {
  margin-bottom: 15px;
  font-size: 1.7rem;
  font-weight: normal;
}
.home-page .home-page__banner .home-page__banner__contact div {
  display: flex;
}
.home-page .home-page__banner .home-page__banner__contact div img {
  width: 40px;
  margin-right: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}
.home-page .home-page__banner .home-page__banner__contact div img:hover {
  transform: scale(1.3);
}
.home-page .home-page__banner .home-page__banner__contact div :last-child {
  margin-right: 0;
}
.home-page .home-page__title {
  background: linear-gradient(15deg, #bccddb 70%, #f5990f);
  font-weight: 200;
  padding: 30px 0;
  margin-top: 70px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .home-page .home-page__title {
    margin-top: 50px;
  }
}

.user-panel-page {
  padding: 30px 0;
  display: flex;
}
.user-panel-page aside {
  padding: 30px;
  width: 20%;
  border-right: 1px solid #f5990f;
  text-align: center;
}
.user-panel-page aside h1 {
  color: #f5990f;
  margin: 30px 0;
}
.user-panel-page aside ul li {
  margin-bottom: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}
.user-panel-page section {
  padding: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.user-panel-page section form {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.user-panel-page section form h2 {
  text-align: center;
}
.user-panel-page section form div {
  display: flex;
  flex-direction: column;
}
.user-panel-page section form div input {
  margin-bottom: 10px;
}
.user-panel-page section form div label {
  margin-bottom: 8px;
}

.productPage {
  display: flex;
  margin-top: 8em;
  min-height: 100vh;
}
@media screen and (max-width: 800px) {
  .productPage {
    flex-direction: column;
    align-items: center;
  }
}
.productPage .productPage__img {
  width: 40%;
}
.productPage .productPage__description {
  width: 60%;
}
.productPage .productPage__description .productPage__description__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bccddb;
  padding: 5px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  margin-top: 10vh;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}
input:focus, textarea:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(215, 215, 215, 0.092);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.544);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.544);
}

::-moz-selection {
  background: rgba(245, 153, 15, 0.4862745098);
}

::selection {
  background: rgba(245, 153, 15, 0.4862745098);
}

.underline_animated {
  position: relative;
}

.underline_animated::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: black;
  left: 50%;
  bottom: -5px;
  transition: all 0.2s ease-in-out;
}

.underline_animated:hover::after {
  width: 100%;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
