/* Error: expected "{".
 *   ,
 * 3 |     max-width: 280px;
 *   |                     ^
 *   '
 *   src\assets\_card.scss 3:21  @import
 *   src\style.scss 9:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 3 \2502      max-width: 280px;\d\a   \2502                      ^\a   \2575 \a   src\\assets\\_card.scss 3:21  @import\a   src\\style.scss 9:9          root stylesheet';
}
