/** @format */

$orange: #f5990ff3;
$dark-orange: #e18e11;
$transparent_orange: #f5990f7c;
$gray: #bccddb;
$dark_gray: #9ba6af;
$black: #121212;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "./assets/styles/store/reusable";
@import "./assets/styles/store/footer";
@import "./assets/styles/store/categoryList";
@import "./assets/styles/store/categoryPage";
@import "./assets/styles/store/productCard";
@import "./assets/styles/store/header";
@import "./assets/styles/store/pagination";
@import "./assets/styles/store/homaPage";
@import "./assets/styles/store/panelUser";
@import "./assets/styles/store/productPage";
@import "./assets/styles/store/pageTitle";
@import "./assets/styles/admin/reusable";
@import "./assets/styles/store/cartItem";
@import "./assets/styles/store/historyItem";

@import "./assets/styles/admin/login";
@import "./assets/styles/admin/containerBase";
@import "./assets/styles/admin/userManagment";
@import "./assets/styles/admin/createProductPromo";
@import "./assets/styles/admin/listProducts";
@import "./assets/styles/admin/editModel";
@import "./assets/styles/admin/supplier";
@import "./assets/styles/admin/buyProducts";
@import "./assets/styles/admin/listBuys";
@import "./assets/styles/admin/detailsBuy";
@import "./assets/styles/admin/sales.scss";
@import "./assets/styles/admin/sale-detail.scss";

html {
  scroll-behavior: smooth;
  width: 100vw;
  min-height: 100vh;
  @media screen and (max-width: 800px) {
    font-size:medium;
  }
}
body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.main-client {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: space-between;
  flex-direction: column;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  border: 2px $dark_gray solid;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  &:focus {
    outline: none;
  }
}

button:disabled {
  background-color: $gray;
  color: $dark_gray;
}
button:disabled:hover {
  cursor: auto;
  background-color: $gray;
}

.spanError {
  margin: 3px 0 3px 10px;
  color: red;
}

//  width
::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background-color: rgba(215, 215, 215, 0.092);
  border-radius: 3px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.544);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.544);
}

// CUSTOM TEXT SELECTION

::-moz-selection {
  background: $transparent_orange;
}

::selection {
  background: $transparent_orange;
}

.underline_animated {
  position: relative;
}

.underline_animated::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: black;
  left: 50%;
  bottom: -5px;
  transition: all 0.1s ease-in-out;
}

.underline_animated:hover::after {
  width: 100%;
  left: 0;
}
