.categorys-manage{
    h2{text-align: center;}
    form{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 50vw;
        margin-bottom: 50px;
        input{
            margin-bottom: 25px;
        }
        span{
            margin-top: 20px;
        }
    }
    table{
        width: 50vw;
        max-width: 800px;
    }
}