
.header-admin{
    display: flex;
    height: 60px;
    width: 100vw;
    padding: 10px 0;
    background-color: $orange;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 1;
    .header-admin_config{
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        > svg {
            font-size: 2rem;
            margin-right: 15px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                color: lighten($color: $black, $amount: 30%);
            }
        }
        >div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span{
                margin-bottom: 3px;
            }
        }
    }
}

.container-admin {
    display: flex;
    aside {
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: $black;
        color: #fff;
        min-height: 100vh;
        padding: 0 2%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15% - 2%;
        min-width: 200px;
        > img {
            position: absolute;
            top: 20px;
            width: 180px;
        }
        .aside_menu_item {
            margin-bottom: 50px;
            .aside_menu_item_container {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                transition: .3s;
                &:hover{
                    color: $orange;
                }
                .aside_menu_item_container_icon {
                    color: $orange;
                    margin-right: 15px;
                }
                .aside_menu_item_container_icon2{
                    margin-left: 30px;
                    font-size: .5rem;
                }
                cursor: pointer;
                span { font-size: 1.5rem; }
            }
            ul {
                padding-left: 15px;
                li {
                    margin-bottom: 15px;
                    font-size: 1.1rem;
                    cursor: pointer;
                    transition: .3s;
                    &:hover{
                        color: $orange;
                    }
                }
            }
        }
    }
    > section{
        margin-top: 80px;
    }
}

.selected{
    color: $orange;
}