.create-product {
    padding: 0 50px;

    h1 {
        margin-top: 50px;
        text-align: center;
    }
    p{
        text-align: center; 
        margin-bottom: 50px;
        font-size: 1.4rem;
    }

    div {
        margin: 0 auto;
        max-width: 700px;
        .create-product_switch {
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            width: min-content;
            align-self: flex-start;
            >li {
                padding: 5px 10px;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
            }

            .create-product_switch_product {
                background-color: $orange;
            }

            .create-product_switch_promo {
                background-color: $black;
            }
        }

        .create-product_product-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            .create-product_product-form_row {
                display: flex;
                margin: 20px 0;
                width: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    margin-right: 15px;
                }
            }

            .create-product_product-form_row-3 {
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 15px;
                    width: inherit;
                }

                >svg {
                    font-size: 2.5rem;
                    color: $orange;
                    position: absolute;
                    right: -40px;
                    top: 13px;
                    cursor: pointer;
                }
            }

            .create-product_product-form_txtarea {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 20px 0;

                textarea {
                    width: 100%;
                    height: 150px;
                }
            }

            button {
                padding: 10px 50px;
            }
        }
    }

}