.create-product {
    padding: 0 50px;

    h1 {
        margin-top: 50px;
        text-align: center;
    }

    p {
        text-align: center;
        margin-bottom: 50px;
        font-size: 1.4rem;
    }

    label{
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .create-product_container {
        margin: 0 auto;
        max-width: 700px;
        position: relative;

        ul {
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            width: min-content;
            align-self: flex-start;

            >li {
                padding: 5px 10px;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
                transition: .4s;
            }

            .product {
                background-color: $orange;
                &:hover{
                    background-color: darken($color: $orange, $amount: 15);
                }
            }

            .promo {
                background-color: $black;
                &:hover{
                    background-color: lighten($color: $black, $amount: 15);
                }
            }
        }

        .create-product_container_form-product {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            .create-product_container_form-product_row {
                display: flex;
                margin: 20px 0;
                width: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    margin-right: 15px;
                }
            }

            .create-product_container_form-product_lines{
                position: relative;
                .create-product_container_form-product_lines_add{
                    font-size: 2rem;
                    position: absolute;
                    right: -40px;
                    top: 18px;
                    cursor: pointer;
                    color: $orange;
                    transition: .5s;
                    &:hover{
                        color: darken($color: $orange, $amount: 20);
                    }
                }
               
                .create-product_container_form-product_lines_row3 {

                    display: flex;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    margin-bottom: 30px;

                    svg{
                        color: red !important;
                        font-size: 1.9rem !important;
                        top: 25px !important;
                        right: -35px !important;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0 15px;
                        width: 30%;
                    }

                    >svg {
                        font-size: 2.5rem;
                        color: $orange;
                        position: absolute;
                        right: -40px;
                        top: 13px;
                        cursor: pointer;
                    }
                }
                > :last-child{
                    margin-bottom: 0;
                }
            }



            .create-product_container_form-product_txtarea {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 20px 0;

                textarea {
                    width: 100%;
                    height: 150px;
                }
            }

            button {
                padding: 10px 50px;
            }
        }
    }

}