.header-admin{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 10px 0;
    background-color: #f2f2f2;
    align-items: center;
    font-size: 1.2rem;
    img{
        width: 250px;
    }
    span{
        margin-left: 30px;
        strong{
            color: $orange;
        }
    }
    .header-admin_logout{
        font-size: 2.5rem;
        color: $orange;
    }
}