.list-products{
    h1{
        text-align: center;
        margin: 50px 0;
    }
    table{
        margin: auto;
    }
    .table-container{
        text-align: center;
        margin-bottom: 50px;
    }
}