.list-products{
    h1{
        text-align: center;
        margin: 50px 0;
    }
    table{
        margin: auto;
        width: 60vw;
        max-width: 1000px;
        td {
            text-align: justify;
        }
    }
    .table-container{
        text-align: center;
        margin-bottom: 50px;
    }
}