.container_section{
    width: 100%;
    min-height: 100vh;
}
.opacity {
    opacity: .5;
}
.fetching-data-message{
    font-size: 1.5rem;
}
.warning-message {
    color: rgb(209, 32, 32);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
.successfully-message {
    color: green;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
.input-form {
    border: 1px solid $orange;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-weight: bold;
}
.textarea-form{
    padding: 4px 0;
    border-radius: 5px;
    border: 1px solid $orange;
    background-color: #f2f2f2;
    border-radius: 5px;
    &:focus{
        outline: none;
    }
    font-weight: bold;
}
.select-form{
    padding: 4px 0;
    border-radius: 5px;
    border: 1px solid $orange;
    background-color: #f2f2f2;
    border-radius: 5px;
    &:focus{
        outline: none;
    }
    font-weight: bold;
}
.button-form{
    font-weight: bold;
    background-color: $orange;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid $orange;
    cursor: pointer;
    transition: .5s;
    &:hover {
        background-color: transparent;
        border: 1px solid $orange;
        color: black;
    }
}
.label-form{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.table-template{
    border-radius: 5px;
    position: relative;
    th,td{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 8px;
        font-weight: bold;
        text-align: center;
    }
    th{
        color: $orange;
        font-size: 1.1rem;
    }
    .controls-table{
        color: $orange;
        font-size: 1.3rem;
        cursor: pointer;
    }
}

.row-selectable{
    cursor: pointer;
    transition: .3s;
    &:hover{
        transform: scale(.98);
    }
}

.row-header-child{
    position: relative;
    left: 70px;
    th{
        font-size: 1rem;
        padding: 3px 0;
        background-color: transparent;
        border-radius: 0;
    }
}

.row-child{
    position: relative;
    left: 70px;
    td{
        font-size: .9rem;
        background-color: transparent;
    }
}
.controls-row-child{
    font-size: 1.2rem !important;
    transition: .3s;
    padding: 0;
    width: 50px;
    cursor: pointer;
    &:hover{
        color: lighten($color: black, $amount: 20);
    }
}

.flex-column-center-xy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generals-layout{
    h2{text-align: center;}
    form{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 50vw;
        margin-bottom: 50px;
        input{
            margin-bottom: 25px;
        }
        span{
            margin-top: 20px;
        }
    }
    table{
        width: 50vw;
        max-width: 800px;
    }
}

.generals-layout-edit{
    form{
        h2{text-align: center;}
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 50vw;
        margin-bottom: 50px;
        input{
            margin-bottom: 25px;
        }
        span{
            margin-top: 20px;
        }
    }
}

.form-row-two-columns-with-label{
    display: flex;
    margin: 20px 0;
    width: 100%;
    div {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 15px;
    }
}