.container_section {
  width: 80%;
  min-height: 100vh;
  right: 0;
  position: absolute;
}
.opacity {
  opacity: 0.5;
}
.fetching-data-message {
  font-size: 1.5rem;
}
.warning-message {
  color: rgb(209, 32, 32);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
.successfully-message {
  color: green;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
.input-form {
  border: 1px solid $orange;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
}
.textarea-form {
  padding: 4px 0;
  border-radius: 5px;
  border: 1px solid $orange;
  background-color: #f2f2f2;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  font-weight: bold;
}
.select-form {
  padding: 4px 0;
  border-radius: 5px;
  border: 1px solid $orange;
  background-color: #f2f2f2;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  font-weight: bold;
}
.button-form {
  font-weight: bold;
  background-color: $orange;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 0;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid $orange;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: transparent;
    border: 1px solid $orange;
    color: black;
  }
}
.label-form {
  font-weight: bold;
  font-size: 1.1rem;
}
.table-template {
  border-radius: 5px;
  position: relative;
  margin-bottom: 50px;
  caption{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  th,
  td {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 8px;
    font-weight: bold;
    text-align: center;
  }
  th {
    color: $orange;
    font-size: 1.1rem;
  }
  .controls-table {
    color: $orange;
    font-size: 1.3rem;
    cursor: pointer;
    transition: color .3s;
    &:hover{
      color: lighten($color: $orange, $amount: 20);
    }
  }
}

.row-selectable {
  cursor: pointer;
  transition: 0.3s;
  &:hover {transform: scale(0.98);}
}

.child-table{
  background-color: #dfdfdf;
  padding: 20px 0;
  border-radius: 5px;
  .child-table_row-header{
    width: 100%;
    th {
      font-size: 1rem;
      padding: 3px 0;
      background-color: transparent;
      border-radius: 5px;
      color: black;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
  .child-table_row {
    td {
      font-size: 0.9rem;
      background-color: transparent;
      border-radius: 5px;
    }
  }
}

.select {
  margin: 5px auto;
  min-width: 200px;
  max-width: 300px;
  @media screen and (max-width: 800px) {
    width: 55%;
    margin: 10px auto;
    display: block;
  }
}
.controls-row-child {
  font-size: 1.2rem !important;
  transition: 0.3s;
  padding: 0;
  cursor: pointer;
  &:hover {
    color: lighten($color: black, $amount: 20);
  }
}

.flex-column-center-xy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generals-layout {
  h2 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 50vw;
    margin-bottom: 50px;
    input {
      margin-bottom: 25px;
    }
    span {
      margin-top: 20px;
    }
  }
  table {
    width: 50vw;
    max-width: 800px;
  }
}

.generals-layout-edit {
  form {
    h2 {
      text-align: center;
    }
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 50vw;
    margin-bottom: 50px;
    input,textarea,select {
      margin-bottom: 25px;
    }
    span {
      margin-top: 20px;
    }
    textarea{
      height: 100px;
    }
  }
}

.form-row-two-columns-with-label {
  display: flex;
  margin: 20px 0;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 15px;
  }
}

.warning-control{
  color: rgb(209, 27, 27);
  transition: color .3s;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover{
    color: lighten($color: rgb(209, 27, 27), $amount: 20);
  }
}

.successfully-control{
  color: rgb(58, 182, 42);
  transition: color .3s;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover{
    color: lighten($color: rgb(58, 182, 42), $amount: 20);
  }
}
