.sale-detail{
    .sale-detail-content{
        display: flex;
        .sale-detail-content_info-card{
            background-color: #f2f2f2;
            padding: 20px 40px 20px 40px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-right: 50px;
            > span {
                > strong {
                    color: $orange;
                    font-size: 1.1rem;
                }
            }
            > div {
                border-bottom: 1px solid $orange;
                margin: 20px 0;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                strong{align-self: center;}
                ul{
                    margin-top: 15px;
                    > li {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}