/** @format */

.cartContainer {
  margin: 15vh auto auto auto;
  height: 100%;
  padding-bottom: 20px;

  .cartPage {
    min-height: 100%;
    .cartItem {
      max-width: 1100px;
      display: flex;
      align-items: center;
      margin: 5px auto 5px auto;
      padding: 15px 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      @media screen and (min-width: 900px) {
        min-width: 900px;
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: auto 20px;
        margin: 10px auto;
      }
      .cartItem__img {
        margin: 10px;
        left: 0;
      }
      .cartItem__text {
        display: flex;
        margin: 5px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        h3 {
          a {
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
              transition: 0.3s;
            }
          }
        }
        @media screen and (max-width: 800px) {
          justify-content: space-around;
        }
        button {
          @media screen and (max-width: 600px) {
            margin-top: 10px;
          }
          border: none;
          padding: 12px;
          font-weight: bold;
          cursor: pointer;
          margin-right: 5px;
          border-radius: 5px;
          background-color: $orange;
          color: white;
          &:hover {
            background-color: $dark-orange;
            transition: 0.3s;
          }
          &:disabled {
            background-color: $gray;
            color: $dark_gray;
          }
          &:disabled:hover {
            cursor: auto;
          }
        }
        .total {
          font-weight: bold;
        }
      }
      .CartItem__actions {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
          margin-bottom: 10px;
          width: 70%;
          margin: auto;
        }
        @media screen and (max-width: 800px) {
          justify-content: space-between;
        }
        .CartItem__actionsQuantity {
          margin: 0 2px 0 2px;
          width: 50px;
        }
      }
    }
  }
  .cartBuyForm {
    min-height: 80vh;
    display: flex;
    form {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}
