.cartContainer {
  margin: 15vh auto auto auto;
  min-height: 80vh;
  min-width: 900px;
  .cartPage {
    min-height: 100vh;
    .cartItem {
      max-width: 1100px;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 5px auto 5px auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: auto 20px;
        margin: 10px auto;
      }
      .cartItem__img {
        margin: 10px;
        left: 0;
      }
      .cartItem__text {
        display: flex;
        margin: 5px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 600px) {
          justify-content: space-around;
        }
        button {
          @media screen and (max-width: 600px) {
            margin-top: 10px;
          }
          border: none;
          padding: 12px;
          font-weight: bold;
          cursor: pointer;
          margin-right: 5px;
          border-radius: 5px;
          background-color: $orange;
        }
        button:hover {
          background-color: $dark-orange;
          transition: 0.3s;
        }
        .total {
          font-weight: bold;
        }
      }
      .CartItem__actions {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
          margin-bottom: 10px;
        }
        .CartItem__actionsQuantity {
          margin: 0 2px 0 2px;
          width: 50px;
        }
      }
    }
  }
  .cartBuyForm {
    min-height: 80vh;
    display: flex;
    form {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}
