/** @format */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 11px 0;
  padding: 30px;
  width: 80%;
  @media screen and (max-width: 800px) {
    margin: 50px 0;
  }

  .card {
    max-width: 230px;
    min-width: 200px;
    height: auto;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @media screen and (max-width: 800px) {
      margin: 10px 0 10px 0;
    }

    img {
      padding-bottom: 2em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .text-container {
      h2 {
        padding: 1em;
        width: auto;
        overflow: hidden;
        text-align: center;
        background-color: #bccddb;
      }

      p {
        overflow-y: scroll;
        max-height: 200px;
      }
    }
    &:hover {
      transform: translateY(-6px);
    }
  }
}
