.main_header {
  display: flex;
  align-items: center;
  background: linear-gradient(15deg, $gray 70%, $orange);
  @media screen and (min-width: 900px) {
    margin-top: 4em;
    min-width: 900px;
    font-size: large;
    width: auto;
    div, h1 {
      margin-left: 20px;
    }
  }

  @media screen and (max-width: 900px) {
    font-size: large;
    width: auto;
  }
  div {
    
    padding: 10px;
    @media screen and (max-width: 600px) {
      width: 20%;
      text-align: end;
    }
    transition: 0.4s;
    
    &:hover {
      background-color: #9daebb;
      transition: 0.4s;
    }
  }
  h1 {
    font-weight: 200;
    
    @media screen and (max-width: 800px) {
      width: 90%;
      text-align: center;
      
    }
  }
}
