/** @format */

.paginationContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  @media (max-width: 800px) {
    justify-content: space-around;
    width: 70vw;
  }
}

.paginationBtn {
  display: block;

  margin: 2px;
  padding: 1em;
  background-color: $gray;
  border: 10px;
  border-radius: 2px;

  font-weight: bold;
  font-size: large;
  cursor: pointer;
  @media (max-width: 800px) {
    
    width: 100px;
  }
}
.paginationBtn:hover {
  background: $dark_gray;
  transition: 0.1s;
}
