.product-card {
  max-width: 1100px;
  min-width: 700px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  img {
    margin: 1.5em;
    left: 0;
  }
  .product-text-container {
    width: 100%;
    h2 {
      padding: 0.5em;
      font-size: small;
      width: 100%;
      overflow: hidden;
      text-align: left;
      background-color: #bccddb;
    }
    p {
      overflow-y:hidden;
      max-height: 200px;
      font-size: small;
    }
    a {
      min-width: 180px;
      height: 50px;
      padding: 0 30px;
      background-color: $orange;
      display: inline-block;
      border-radius: 100px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 20px;
      bottom: -20px;
    }
  }
}
.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  transform: translateY(-1px);
}
