/** @format */

.productContainer {
  margin: 20vh auto auto auto;
  min-height: 100%;

  max-width: 900px;
  @media screen and (max-width: 600px) {
    margin-bottom: 10vh;
  }

  .productPage {
    margin-bottom: 2em;
    display: flex;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }

    .productPage__img {
      margin-top: 4em;
      width: 40%;
      img {
        margin: auto;
        display: block;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
    .productPage__description {
      margin: auto 1em;
      width: 60%;
      @media screen and (max-width: 800px) {
        width: 100%;
      }

      .productPage__description__body {
        margin-left: 15px;
        p {
          text-align: justify;
          @media (max-width: 900px) {
            margin-left: 20px;
          }
        }
      }

      .productPage__description__buttons {
        display: flex;
        flex-direction: column;

        p {
          a {
            color: $orange;
            text-decoration: underline;
            font-weight:bold;
          }
        }

        .buttonsFlexContainer {
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 800px) {
            justify-content: space-around;
          }
          @media screen and (max-width: 600px) {
            flex-direction: column;
          }
          .quantityInputContainer {
            display: flex;
            align-items: flex-start;
            margin-top: 26px;
            justify-content: space-evenly;
            @media screen and (max-width: 600px) {
              margin-bottom: 20px;
              justify-content: center;
            }
            input {
              margin-left: 10px;
              width: 40px;
              transition: 0.3s;
            }
            input:hover {
              box-shadow: rgba(182, 182, 182, 0.705) 0px 8px 24px;
              transition: 0.3s;
            }
            span {
              margin-top: 5px;
              text-align: center;
            }
          }
          .buyAndAddToCartContainer {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 50%;
            button {
              border: none;
              padding: 10px;
              cursor: pointer;
              width: 100%;
              font-weight: 700;
              margin: 3px auto;
              transition: 0.3s;
            }
            .buyBtn {
              background-color: $orange;
              color: white;
            }
            .buyBtn:hover {
              background-color: $dark-orange;
              transition: 0.3s;
            }

            .addBtn {
              background-color: $gray;
            }
            .addBtn:hover {
              background-color: $dark-gray;
              transition: 0.3s;
            }
          }
        }
        .selectsContainer {
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 600px) {
            flex-direction: column;
          }
          .select {
            width: 49%;
            display: inline-block;
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
