/** @format */

.productContainer {
  margin: 20vh auto auto auto;
  min-height: 80vh;

  max-width: 900px;

  .productPage {
    margin-bottom: 2em;
    display: flex;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }

    .productPage__img {
      margin-top: 4em;
      width: 40%;
      img {
        margin: auto;
        display: block;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
    .productPage__description {
      margin: auto 1em;
      width: 60%;
      @media screen and (max-width: 800px) {
        width: 100%;
      }

      .productPage__description__body {
        margin-left: 15px;
        p {
          text-align: justify;
        }
      }

      .productPage__description__buttons {
        display: flex;
        flex-direction: column;

        .buttonsFlexContainer {
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 800px) {
            flex-direction: column;
          }
          .quantityInputContainer {
            display: flex;
            align-items: flex-start;
            margin-top: 26px;
            justify-content: space-evenly;
            input {
              width: 30%;
            }
            span {
              margin-top: 5px;
              text-align: center;
            }
          }
          .buyAndAddToCartContainer {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 50%;
            button {
              border: none;
              padding: 8px;
              cursor: pointer;
              width: 100%;
              margin: 5px auto;
            }
            .buyBtn {
              background-color: $orange;
              color: white;
            }

            .addBtn {
              background-color: $gray;
            }
          }
        }
        .selectsContainer {
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 800px) {
            flex-direction: column;
          }
          .select {
            width: 49%;
            display: inline-block;
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
