/**
 * /*Formularios(Registro, login, contacto)
 *
 * @format
 */
.mt-5 {
  margin-top: 5px;
}
.ml-5 {
  margin-left: 5px;
}

.form-container {
  min-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin-top: 13vh;

  @media (max-width: 1400px) {
    flex-direction: column;
    height: initial;
    min-width: initial;
    box-shadow: none;
    width: 90vw;
  }

  img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 10px 0 0 10px;

    @media (max-width: 800px) {
      border-radius: 10px;
      width: 100%;
      height: 50%;
    }
  }

  form {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;

    .inputSection {
      width: 60%;
      display: flex;
      justify-content: center;
      margin: auto;
      @media (max-width: 900px) {
        flex-direction: column;
        width: 80%;
        align-items: center;
      }
    }

    .radioSection {
      border: 5px rgb(211, 211, 211) solid;
      padding: 10px;
      border-radius: 5px;
      width: 60%;
      @media (max-width: 800px) {
        width: 80%;
      }
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .radioGroup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        input {
          @media (max-width: 800px) {
            margin: 10px auto;
          }
        }
        .formInput {
          margin-top: 5px;
          width: 90%;
        }
      }
    }
    .textareaSection {
      width: 60%;
      display: flex;
      justify-content: center;
      margin: auto;
      flex-direction: column;
      blockquote {
        margin: 0 10px;
        padding: 0;
      }
    }
    .select {
      width: 65%;
    }

    a,
    span,
    p,
    h1 {
      text-align: center;
    }

    input[type="text"],
    input[type="password"],
    textarea {
      display: block;
      margin: 5px;
    }

    label {
      display: flex;
      align-items: baseline;
      justify-content: center;
      input[type="checkbox"] {
        margin: 0 5px;
      }
    }
  }
}

/*Boton formularios*/
.submit-button {
  margin: 10px auto;
  display: block;
  padding: 1em;
  background-color: $orange;
  color: white;
  border: 15px;
  border-radius: 6px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  width: 60%;
  @media (max-width: 800px) {
    width: 80%;
  }

  &:hover {
    background: $dark_gray;
    transition: 0.4s;
  }
}

/*Componente input*/
.input-wrapper {
  text-align: center;
  .input-wrapper__input {
    display: block;
    &:focus {
      outline: none;
    }
  }
  .input-wrapper__msg-error {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    color: red;
  }
}

/*Componente ShoppingCart*/
.shopping-cart-mobile {
  position: fixed;
  bottom: 100px;
  left: 20px;
  font-size: 2rem;
  color: $orange;
  padding: 25px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 9999;
}

.shopping-cart-desktop {
  display: flex;
  align-items: center;
  span {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
  }
}

/*Pantalla oscura*/
.shadow-close {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.589);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.displayNone {
  height: 0;
  transition: height 0.5s ease;
}
