.queries{
    .queries_balance{
        margin-bottom: 20px;
        ul{
            background-color: #f2f2f2;
            padding: 15px 15px 5px 15px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            > li {
                margin-bottom: 10px;
                font-weight: bold;
                > strong{
                    margin-right: 5px;
                    color: $orange;
                } 
            }
        }
    }
    .queries_filters{
        margin-bottom: 20px;  
        > select{
            width: 50vw;
            max-width: 200px;
            text-align: center;
        }
    }
    .queries_table-container{
        margin-top: 20px;
        form{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            > span {
                margin-right: 5px;
                font-weight: bold;
            }
            > input{
                width: 100px;
                height: 15px;
                border: none;
                outline: 1px solid rgb(136, 136, 136);
                transition: .3s outline;
                &:focus{
                    outline: 1px solid $orange;
                    border: none;
                }
            }
        }
    }
}

.subtitle-queries{
    font-size: 1.5rem;
}
